html {
    font-family: sans-serif;
    line-height: 1.15;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    font-size: 12px;
    margin: 36pt;
}

h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

strong {
    font-weight: bolder;
}

img {
    vertical-align: middle;
    border-style: none;
}

table {
    border-collapse: collapse;
}

th {
    text-align: inherit;
}

h4,
.h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 16px;
}

h4,
.h4 {
    font-size: 1.5rem;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
}

.table.table-items td {
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.mt-5 {
    margin-top: 3rem !important;
}

.pr-0,
.px-0 {
    padding-right: 0 !important;
}

.pl-0,
.px-0 {
    padding-left: 0 !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}
* {
    font-family: "DejaVu Sans";
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
table,
th,
tr,
td,
p,
div {
    line-height: 1.1;
}
.party-header {
    font-size: 1.5rem;
    font-weight: 400;
}
.total-amount {
    font-size: 12px;
    font-weight: 700;
}
.border-0 {
    border: none !important;
}
.cool-gray {
    color: #6b7280;
}
.header {
    height: auto;
    border-bottom: 1px solid #000000;
}
.logo {
    text-align: start;
}
.logo img {
    height: 40px;
    width: auto;
    display: inline-flex;
    margin: 0 auto;
}
