
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../images/background/background-light.svg');
    /* background-image: url('assets/images/background/background-5.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background fixed even while scrolling */
    overflow: hidden;
}
.k_main_navbar .dropdown-toggle {
    line-height: 26px;
    text-decoration: none solid rgb(17, 24, 39);
    text-align: center;
    white-space: nowrap;
    word-spacing: 0px;
    height: 26px;
    padding: 0;
    border: none; /* Remove the border */
    background: none; /* Remove the background color */
    position: relative;
    /* Remove any default browser styles */
    outline: none; /* Remove focus outline */
    box-shadow: none; /* Remove focus shadow */
    -webkit-tap-highlight-color: transparent; /* Remove tap highlight on mobile */
}

/* .k_main_navbar .dropdown-toggle {
    line-height: 26px;
    text-decoration: none solid rgb(17, 24, 39);
    text-align: center;
    white-space: nowrap;
    word-spacing: 0px;
    height: 26px;
    width: 40px;
    padding: 0;
    border-radius: 10px; /* Remove the border */
    background: none; /* Remove the background color */
    position: relative;
    /* margin-right: auto; */
    /* transition: background-color 0.3s; */
} */

.k_main_navbar .dropdown-toggle::after {
    display: none; /* Hide the arrow pseudo-element */
}

/* Add this style to place the .button-navbar div on the right side */
.k_main_navbar .button-navbar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

/* Add margin-right to create space between buttons */
.k_main_navbar .button-navbar .dropdown-toggle {
    margin-right: 15px; /* Adjust as needed */
}

.dropdown-toggle i {
    font-size: 16px;
    position: relative; /* Add relative positioning */
}

/* Style for the notification span */
.k-notification-badge {
    position: absolute;
    top: -3px; /* Adjust to position the badge on top */
    right: -12px; /* Adjust to position the badge on the right */
    background-color: #DC3545; /* Choose the desired color */
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 10px;
    line-height: 1;
}

.k_main_navbar .button-navbar .dropdown-toggle .k_avatar{
    text-align: center;
    vertical-align: middle;
    height: 26px;
    width: 26px;
    min-height: auto;
    min-width: auto;
    object-fit: cover;
    border-radius: 70%;
}

.dropdown-toggle .k-mail-messaging{
    font-size: 9.8px;
    line-height: 10.8px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
}

/* Style for the side navigation panel */
.side-navigation-panel {
    position: fixed;
    top: 0;
    left: -300px; /* Initially hidden */
    width: 300px; /* Adjust the width as needed */
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 800;
}

/* Style for the close icon */
.side-navigation-panel i {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

/* Active class to show the side navigation panel */
.side-navigation-panel.active {
    left: 0;
}
.k_home_menu{
    font-size: 14px;
    line-height: 21px;
    text-decoration: none solid rgb(55, 65, 81);
    word-spacing: 0px;
    display: flex;
    height: 100vh; /* Adjust as needed */
    padding: 0 16px; /* Adjust padding */
    box-sizing: border-box;
}

.k_home_menu .container{
    height: 488px;
    width: 850px;
    margin: 0 215px 0 215px;
    padding: 0 16px 0 16px;
    max-width: 850px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
/* Responsive adjustments */
@media (max-width: 915px) {
    .k_home_menu .container {
        width: 100%;
        height: 60%;
        margin: 0;
        padding: 0;
    }

    /* Adjust font sizes and margins for smaller screens */
    .k_app {
        font-size: 12px;
    }
}
/* Additional media queries for other screen sizes */
@media (max-width: 576px) {
    /* Adjust styles for even smaller screens */
}
/* Scrollbar */


/* Hide the vertical scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.k_home_menu .container::-webkit-scrollbar {
    display: none;
}

/* Database expiration panel */
.database_expiration_panel{
    font-size: 14px;
    line-height: 21px;
    text-decoration: none solid rgb(140, 94, 0);
    word-spacing: 0px;
    background-color: #FBEBCC;
    border-top: 0px solid #F8E2B3;
    border-right: 0px solid #F8E2B3;
    border-left: 2px solid #F8E2B3;
    height: 53px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 16px 0;
    padding: 16px 16px 16px 16px;
}
.database_expiration_panel .k_instance_register_main{
    font-size: 14px;
    line-height: 21px;
    text-decoration: none solid rgb(140, 94, 0);
    color: #8C5E00;
    display: inline;
    height: auto;
    width: auto;

}

.k_draggable{
    height: 129px;
    width: 136px;
    padding: 8px 8px 8px 8px;
    min-height: auto;
    max-width: 100%;
    min-width: auto;
    display: block;
}
.k_app{
    text-decoration: none solid rgb(38, 38, 39);
    height: 113px;
    width: 120px;
}
.k_app:hover{
    text-decoration: none solid rgb(38, 38, 39);
}
.k_app .k_app_icon{
    text-decoration: none solid rgb(1, 107, 112);
    vertical-align: middle;
    height: 65px;
    width: 65px;
    /* padding: 10px 10px 10px 10px; */
    min-height: auto;
    max-width: 70px;
    min-width: auto;
    /* display: block; */
    transition: transform 0.3s ease;

}
.k_app .k_app_icon:hover{
    /* transform: translateY(-10px) perspective(100px) rotateX(10deg); */
}
.k_app .k_caption{
    text-decoration: none solid;
    color: #000; /* Change this to your desired text color */
    height: 35px;
    width: 125.33px;
    margin: 8px 0 0 0;
    min-height: auto;
    min-width: auto;
    display: block;

}
